<style>

  body {
    font-family: "HelveticaNeue-UltraLight", "HelveticaNeue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: url(<%= randomized_background_image %>) no-repeat center center fixed;
    /*background: url(http://www.clipartbest.com/cliparts/jcx/EBa/jcxEBaRRi.svg) no-repeat center center fixed;*/
    background-size: cover;
  }

  .col-md-8, .col-sm-8, .col-xs-8, .col-md-offset-2, .col-sm-offset-2, .col-xs-offset-2 {
    /*padding: 0px;*/
  }

  .landingpageframe {
    height: 200px;
    min-width: 900px;
    margin-top: -100px;
    position: fixed;
    top: 50%;
  }

  .landingpageinnerframe {
    height: 100px;
    top: 50%;
    margin-top: -50px;
    position: absolute;
    /*  background: yellow;*/
    min-width: 750px;
  }

  #landing_page_searchTextField {
    height: 100%;
    width: 100%;
    font-family: 'HelveticaNeue-Light';
    font-size: 40px;
    color: #FF8598;
    background: solid-white;
  }

  #landing_page_central_list {
    padding: 5px 30px;
    list-style: none;
    background:rgba(125,138,46,0.7);
    z-index: 5;
    border-radius: 10px;
  }

  #landing_page_payoff {
    font-size: 40px;
    text-align:center;
    font-family: 'HelveticaNeue-UltraLight';
    color: white;
  }

  .landingpagesubmitbutton{
    display: inline;
  }

  .text-muted-landing-page{
    font-size: 44px;
  }

</style>

<%= render "devise/sessions/login_modal" %>

<div class="navbar-collapse collapse">
  <nav class="navbar-form navbar-right" role="navigation">
    <div>
      <% if employer_signed_in? %>
      <%= link_to 'Hiring? Post a job!', new_job_path, class: 'landing_page_login_link', value: 'create_job' %>
      <%= link_to 'Logout', destroy_employer_session_path, :method => :delete, class: 'landing_page_login_link' %>
      <% else %>
      <%= link_to 'Hiring? Post a job!', "#login", "data-toggle" => "modal", class: 'landing_page_login_link' %>
      <% end %>
      <%= javascript_include_tag 'application' %>
    </div>
  </nav>



  <div class="landingpageframe col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" >

    <div class="landingpageinnerframe col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1"> 

      <ul id="landing_page_central_list">
        <li>
          <p><h1 id="landing_page_payoff">The instant-hiring platform. Get started!</h1></p>
        </li>
        <li>
          <form id="landing_page_search_box" method="post" class='landingpagesubmitbutton'>
            <input type="text" id="landing_page_searchTextField" placeholder="Find a job in..." class='form-control'>
            <input type="submit" style='visibility:hidden' value="Search" class='btn btn-primary'>
          </form>
        </li>
      </ul>

    </div>

  </div>

</div>



