<div class="modal fade in" id="job_application">

	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<h2>Job Application form</h2>
	</div>

	<div class="modal-body">
		<%= form_for @submission, url: user_submissions_path(current_user) do |s| %>

		<div>
			<p class="modal_form"><%= s.label :message, "To:", :class => 'form_control' %></p>
			<%= s.email_field :email, :autofocus => true, class: 'form-control' %>
		</div>

		<div>
			<p class="modal_form"><%= s.label :message, "Brief cover note:", :class => 'form_control' %></p>
			<%= s.text_area :message, :autofocus => true, class: 'form-control' %>
		</div>

		<p class="modal_form">CV preview:</p>
		<%= image_tag current_user.cv.url(:thumb), class: 'uploaded-cv' %>


		<p class="modal_form">
			<%= s.hidden_field :cv, :value => current_user.cv.url %>
			<%= s.submit "Submit to employer", :class => 'btn btn-small' %>
		</p>

		<% end %>
	</div>
</div>

<div class="modal fade in" id="submission_confirmation">

	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<h2>We have emailed your submission to the employer!</h2>
	</div>
	
</div>
