<div class="container-fluid">

	<div class="row">
		<div class="col-md-8">

			<form id="search_box" class='index_page_jobs_search' method="post">
				<input type="text" id="searchTextField" placeholder="Address">
				<input type="submit" style='display:none' value="Search">
			</form>

			<div id="map">
			</div>
		</div>
		<div class="col-md-4">
			<aside class='jobs_filter'>
				<%= form_tag '/jobs', method: 'get', id: 'filter_form' do %>
				<%= check_box_tag(:bar_box, 'Bar', true) %>
				<%= label_tag(:bar_box, "Bar") %>
				<%= check_box_tag(:cafe_box, 'Cafe', true) %>
				<%= label_tag(:cafe_box, "Cafe") %>
				<%= check_box_tag(:hotel_box, 'Hotel', true) %>
				<%= label_tag(:hotel_box, "Hotel") %>
				<%= check_box_tag(:restaurant_box, 'Restaurant', true) %>
				<%= label_tag(:restaurant_box, "Restaurant") %>
				<%= check_box_tag(:shop_box, 'Shop', true) %>
				<%= label_tag(:shop_box, "Shop") %>
				<%= check_box_tag(:strip_box, 'Strip Club', true) %>
				<%= label_tag(:strip_box, "Strip Club") %><br>
				<%= label_tag(:full_time, "Type of contract") %>
				<%= select_tag(:full_time, options_for_select([['Full Time', true], ['Part Time', false]])) %><br>
				<%= label_tag(:wage, "Minimum Pay") %>
				<%= number_field_tag(:wage, 5, in: 5..21) %><br>
				<%= hidden_field(:refined, value: true) %>
				<%= submit_tag 'Refine Search' %>
				<% end %>
			</aside>
			<aside class="advert_column">
				<% if @jobs.any? %>
				<% @jobs.each do |job| %>
				<a href='#' class='advert_info'>
					<div class='category'><%= job.category %></div>
					<div class='wage'><%= job.wage %></div>
					<div class='full_time'><%= job.full_time? ? "Full time" : "Part time"  %></div>  
					<div class='company'><%= job.company %></div>
				</a>
				<% end %>
				<% else %>
				<h1>No jobs inserted yet.</h1>
				<% end %>
			</aside>
		</div>
	</div>

	<template id='individual_job_advert'>
		<ul>
			<li>
				<div class="advert_info">
					<h1> {{ advert_title }} </h1>
					<p> {{ category }} // 
						{{ company }} //
						{{ detail }} //
						{{ address }} //
						£{{ wage }} per hour //
						{{ email }} //
						{{ phone }}
						{{ hours }}
					</p>
				</div>
			</li>
		</ul>
	</template>

	<template id='pop_up_job_advert'>
		<ul>	
			<li>  {{ advert_title }} </li>
			<li>	{{ company }} </li>
			<li>	{{ detail }} </li>
			<li>	{{ address }} </li>
			<li>	£{{ wage }} per hour </li>
			<li>	{{ email }} </li>
			<li>	{{ phone }} </li>
			<li>	{{ hours }} </li>
		</ul>
	</template>
	
</div>

