<% if current_user %>
  <%= render "jobs/job_application_modal" %>
<% end %>
<%= render "devise/sessions/login_modal" %>

<div class="container-fluid">

	<div class="col-md-7 col-sm-6 hidden-xs jobpageleftside">
		<form class="search_box" class='index_page_jobs_search' method="post">
			<span class="glyphicon glyphicon-search"></span>
			<input type="text" class="searchTextField" placeholder="Find a job in...">		
			<input type="submit" style='display:none' value="Search">
		</form>

  	<div id="map_canvas">
	    <div id="map"></div>
	  </div>

	</div>

	<div class="col-md-5 col-sm-6 col-xs-12" id="jobpagerightside">

	<div class="second_search">
		<form class="search_box" class='index_page_jobs_search' method="post">
			<span class="glyphicon glyphicon-search"></span>
			<input type="text" class="searchTextField" placeholder="Find a job in...">		
			<input type="submit" style='display:none' value="Search">
		</form>
	</div>

<div class="panel-group" id="accordion">

	<div id="panel1" class="panel-collapse collapse">
			<div class="panel-body">
			

<aside class="jobs_filter">

			<div class="job_type_filter">
			<%= form_tag '/jobs', method: 'get', id: 'filter_form' do %>

				<div class="row" id="test">
					<div class="filter col-md-2 col-sm-2 col-xs-2"> 
						<div class="label"><%= label_tag(:bar_box, "Bar", :class => "checkbox-inline") %></div>
						<div class="bar_slider"><%= check_box_tag(:bar_box, 'Bar', true, :class => "switchery") %></div>
					</div>
					<div class="filter col-md-2 col-sm-2 col-xs-2">
						<div class="label"><%= label_tag(:pub_box, "Pub", :class => "checkbox-inline") %></div>
						<div class="strip_slider label"><%= check_box_tag(:pub_box, 'Pub', true, :class => "switchery") %></div>
					</div>
					<div class="filter col-md-2 col-sm-2 col-xs-2">
						<div class="label"><%= label_tag(:cafe_box, "Cafe", :class => "checkbox-inline") %></div>
						<div class="cafe_slider"><%= check_box_tag(:cafe_box, 'Cafe', true, :class => "switchery") %></div>
					</div>
					<div class="filter col-md-2 col-sm-2 col-xs-2">
						<div class="label"><%= label_tag(:hotel_box, "Hotel", :class => "checkbox-inline") %></div>
						<div class="hotel_slider"><%= check_box_tag(:hotel_box, 'Hotel', true, :class => "switchery") %></div>
					</div>
					<div class="filter col-md-2 col-sm-2 col-xs-2">
						<div class="label"><%= label_tag(:restaurant_box, "Restaurant", :class => "checkbox-inline") %></div>
						<div class="restaurant_slider"><%= check_box_tag(:restaurant_box, 'Restaurant', true, :class => "switchery") %></div>
					</div>
					<div class="filter col-md-2 col-sm-2 col-xs-2">
						<div class="label"><%= label_tag(:retail_box, "Retail", :class => "checkbox-inline") %></div>
						<div class="retail_slider"><%= check_box_tag(:retail_box, 'Retail', true, :class => "switchery") %></div>
					</div>
				</div>

				<div class="row" id="test2">
					<div class="filter col-md-4 col-sm-4 col-xs-4">
						<div class="label"><%= label_tag(:full_time, "Full Time / Part Time") %></div>
						<%= select_tag(:full_time, options_for_select([['Full Time', true], ['Part Time', false]]), :class => "form-control full_time_select_box") %>
					</div>
					<div class="filter col-md-4 col-sm-4 col-xs-4">
						<div class="label"><LABEL for="wage_slider">Min Pay(PerHour) </LABEL></div>
						<div class="wage_slider"><input id="wage_slider" data-slider-id='wageSlider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="0.5" data-slider-value="6"/></div>
					</div>

					<div class="filter col-md-4 col-sm-4 col-xs-4">
						<div class="label"><LABEL for="distance_slider">Distance(kms) </LABEL></div>
						<div class="distance_slider"><input id="distance_slider" data-slider-id='distanceSlider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="10"/></div>
					</div>

				</div>


				<div class="col-md-12 col-sm-12 col-xs-12" id="test5">
					<%= hidden_field(:refined, value: true) %>
					<div class="search_button"><%= submit_tag 'Refine Search', :class => 'btn btn-lg btn-success' %></div>
					<% end %>
				</div>

		</aside>


			
			</div>
		</div>

	<div class="panel panel-default">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel1">

		<div class="panel-heading">
		<h4 class="panel-title">
		Search Filters<span class="glyphicon glyphicon-chevron-down"></span><span class="glyphicon glyphicon-chevron-up"></span>
		</h4>
		</div>

		</a>
		
	</div>
</div>


		<aside class="advert_column">
			
		</aside>
	</div>

	<template id='individual_job_advert'>
		<div class='advert_info'>
			<div class="info row" id='openlink{{ linkid }}'>
				<a href='#'>
					<div class='category col-md-2 col-sm-2 col-xs-2'><img src='{{ category_src }}'></div>
					<div class='wage col-md-2 col-sm-2 col-xs-2'><span class="wage">£{{ wage }}</span></br> p.h.</div>
					<div class='company col-md-3 col-sm-3 col-xs-3'>
						<div class='job_title'>{{ advert_title }}</div>
						<div class='company_name'><span class"companyname">{{ company }}</span></div>
					</div>
					<div class='distance col-md-3 col-sm-3 col-xs-3'>
						<div class='distance_location'> <span class"distance">{{ distance }}</span> km</div>
						<div class='distance_title'>(distance)</div> 
					</div>
					<div class='full_time col-md-2 col-sm-2 col-xs-2'>{{ hours }}</div>
				</a>
			</div>

			<div class="more_info row" id='closelink{{ linkid }}'>
					<div class='detail col-md-8 col-sm-8 col-xs-8'>{{ detail }}</div>
					<div class='apply col-md-2 col-sm-2 col-xs-2 btn btn-default'>
						<% if user_signed_in? %>
						<%= link_to 'Apply now', "#job_application", "data-toggle" => "modal", "data-email" => '{{ email }}', class: 'apply-link' %>
						<% else %>
						<%= link_to 'Apply now', "#user_login", "data-toggle" => "modal", "data-email" => '{{ email }}', class: 'apply-link' %>
						<% end %>
					</div>
				<a href='#'>
					<div class="close-div col-md-2 col-sm-2 col-xs-2"><span class="glyphicon glyphicon-remove-circle"></span></div>
				</a>
			</div>
		</div>
	</template>


	<template id='pop_up_job_advert' >
		<div class='info_window'>
			<ul>	
				<li> <span class="adtitle">{{ advert_title }}</span> </li>
				<li>	{{ company }} </li>
				<li>	£{{ wage }} per hour </li>
				<li>	{{ hours }} </li>
				<li><span class="telephone">Tel:</span> {{ phone }} </li>				
				<!-- not 100% working - removed for heroku -->
				<!-- <li> <a href='jobs#job_application' data-toggle="modal" data-email='{{ email }}' id='apply-link'>Apply now!</a></li> -->
				
			</ul>
		</div>
	</template>

	<script>
var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));

elems.forEach(function(html) {
  var switchery = new Switchery(html);
});
	</script>

	<script>
	$('#ex1').slider({
	formater: function(value) {
		return 'Current value: ' + value;
	}
});
	</script>


</div>
