<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div id="map">
			</div>
		</div>
		<div>
			<%= form_tag '/jobs', method: 'get', id: 'filter_form' do %>
			<%= check_box_tag(:bar_box, 'Bar') %>
			<%= label_tag(:bar_box, "Bar") %>
			<%= check_box_tag(:cafe_box, 'Cafe') %>
			<%= label_tag(:cafe_box, "Cafe") %>
			<%= check_box_tag(:hotel_box, 'Hotel') %>
			<%= label_tag(:hotel_box, "Hotel") %>
			<%= check_box_tag(:restaurant_box, 'Restaurant') %>
			<%= label_tag(:restaurant_box, "Restaurant") %>
			<%= check_box_tag(:shop_box, 'Shop') %>
			<%= label_tag(:shop_box, "Shop") %>
			<%= check_box_tag(:strip_box, 'Strip Club') %>
			<%= label_tag(:strip_box, "Strip Club") %><br>
			<%= label_tag(:full_time, "Type of contract") %>
			<%= select_tag(:full_time, options_for_select([['Full Time', true], ['Part Time', false]])) %><br>
			<%= label_tag(:min_wage, "Minimum Pay") %>
			<%= number_field(:wage, :min_wage, in: 4..20, step: 1) %><br>
			<%= submit_tag 'Refine Search' %>
			<% end %>
		</div>
		<div class="col-md-4">
				<ul>
			<aside class="advert_column">
				<% if @jobs.any? %>
				<% @jobs.each do |job| %>
					<li>
						<div class="advert_info">
							<h1><%= job.advert_title %></h1>
							<p><%= job.category %> // 
								<%= job.company %> //
								<%= job.detail %> //
								<%= job.address %> //
								£<%= job.wage %> per hour //
								<%= job.email %> //
								<%= job.phone %>
							</p>
						</div>
					</li>	
				<% end %>
				</ul>
				<% else %>
				<h1>No jobs inserted yet.</h1>
				<% end %>
			</aside>
		</div>
	</div>

	<template id='individual_job_advert'>
		<li>
			<div class="advert_info">
				<h1> {{ advert_title }} </h1>
				<p> {{ category }} // 
					{{ company }} //
					{{ detail }} %> //
					{{ address }} //
					£{{ wage }} per hour //
					{{ email }} //
					 {{ phone }}
				</p>
			</div>
		</li>
	</template>