<% if @jobs.any? %>
<% @jobs.each do |job| %>
<h1><%= job.name %></h1>
<p><%= job.category %></p>
<p><%= job.company %></p>
<p><%= job.detail %></p>
<p><%= job.location %></p>
<p><%= job.pay %>£</p>
<p><%= job.email %></p>
<p><%= job.phone %></p>
<% end %>
<% else %>
<h1>No jobs inserted yet.</h1>
<% end %>

<!-- gmaps branch work -->


<%= render 'map' %>
