<%= render "devise/sessions/login_modal" %>
<%= render "devise/registrations/signup_modal" %>

<div class="container-fluid">

	<div class="col-md-7 col-sm-7 col-xs-7 jobpageleftside">

		<form id="search_box" class='index_page_jobs_search' method="post">
			<input type="text" id="searchTextField" placeholder="Address">
			<input type="submit" style='display:none' value="Search">
		</form>


	  <div id="map_canvas">
	    <div id="map"></div>
	  </div>

	</div>

	<div class="col-md-5 col-sm-5 col-xs-5" id="jobpagerightside">

		<aside class="jobs_filter">

			<div class="job_type_filter">
			<%= form_tag '/jobs', method: 'get', id: 'filter_form' do %>

				<div class="row" id="test">
					<div class="filter col-md-4 col-sm-4 col-xs-4"> 
						<div class="bar_label"><%= label_tag(:bar_box, "Bar", :class => "checkbox-inline") %></div>
						<div class="bar_slider"><%= check_box_tag(:bar_box, 'Bar', true, :class => "switchery") %></div>
					</div>
					<div class="filter col-md-4 col-sm-4 col-xs-4">
						<div class="cafe_label"><%= label_tag(:cafe_box, "Cafe", :class => "checkbox-inline") %></div>
						<div class="cafe_slider"><%= check_box_tag(:cafe_box, 'Cafe', true, :class => "switchery") %></div>
					</div>
					<div class="filter col-md-4 col-sm-4 col-xs-4">
						<div class="hotel_label"><%= label_tag(:hotel_box, "Hotel", :class => "checkbox-inline") %></div>
						<div class="hotel_slider"><%= check_box_tag(:hotel_box, 'Hotel', true, :class => "switchery") %></div>
					</div>
				</div>




				<div class="col-md-12 col-sm-12 col-xs-12" id="test5">
					<%= hidden_field(:refined, value: true) %>
					<div class="search_button"><%= submit_tag 'Refine Search', :class => 'btn btn-lg btn-success' %></div>
					<% end %>
				</div>

		</aside>

		<aside class="advert_column">

			<% if @jobs.any? %>
			<% @jobs.each do |job| %>
			<a href='#' class='advert_info'>
			<div class='category'><%= job.category %></div>
			<div class='company'><%= job.company %></div>
			<div class='distance'> distance </div>
			<div class='full_time'><%= job.full_time? ? "Full time" : "Part time" %></div>
			<div class='wage'><%= job.wage %> £</div>
			</a>
			<% end %>
			<% else %>
			<h1>No jobs inserted yet.</h1>
			<% end %>
		</aside>

	</div>

	<template id='individual_job_advert'>
		<a href='#' class="advert_info">
		<div class='category'>{{ category }}</div>
		<div class='company'>{{ company }}</div>
		<div class='company'> distance </div>
		<div class='full_time'>{{ hours }}</div>
		<div class='wage'>{{ wage }}</div>
		<div class='apply'><%= link_to 'Apply Now', edit_user_registration_path %></div>
		</a>
	</template>

	<template id='pop_up_job_advert'>
		<ul>	
		<li> {{ advert_title }} </li>
		<li>	{{ company }} </li>
		<li>	{{ detail }} </li>
		<li>	{{ address }} </li>
		<li>	£{{ wage }} per hour </li>
		<li>	{{ email }} </li>
		<li>	{{ phone }} </li>
		<li>	{{ hours }} </li>
		</ul>
	</template>

	<script>
var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));

elems.forEach(function(html) {
  var switchery = new Switchery(html);
});
	</script>


</div>
