<div class="bugfixing">

	<% if @adverts.any? %>

		<% @adverts.each do |advert| %>

			<%= advert.advert_title %>
			<%= link_to 'Edit advert', edit_employer_advert_path(@employer, advert) %>
			<%= link_to 'Remove advert', employer_advert_path(@employer, advert), method: 'delete' %>

		<% end %>

	<% else %>

		<h2>No adverts?</h2>
		<br><%= @employer %></br>
		<br><%= current_employer %></br>


	<% end %>

</div>