<!DOCTYPE html>
<html>
<%= favicon_link_tag '/favicon.ico' %>
<title>WorkMap</title>
<!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script> -->
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= csrf_meta_tags %>
</head>

<body>
	<%= render "devise/sessions/login_modal" %>
	<%= render "devise/registrations/signup_modal" %>
	<%= render "jobs/new_job_modal" %>
	<% if current_employer %>
	<%= render "devise/registrations/employer_edit_modal" %>
	<% end %>
	<% if current_user %>
	<%= render "devise/registrations/user_edit_modal" %>
	<% end %>
	<%= render "layouts/navbar_modal" %>

	<% flash.each do |type, message| %>
	<div class="alert <%= bootstrap_class_for(type) %> alert-dismissable fade in">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true" class='close-alert'>&times;</span><span class="sr-only">Close</span></button>
		<%= message %>
	</div>
	<% end %>

	<%= yield %>
	<script language="JavaScript" type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry,places&sensor=false"></script>
	<script language="JavaScript" type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
</body>
</html>