<!DOCTYPE html>
<html>
	<head>
		<title>WorkMap</title>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
		<%= stylesheet_link_tag 'application', media: 'all' %>
		<%= csrf_meta_tags %>
		<%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'switchery' %>
	</head>
	
	<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a a class="navbar-brand" href="#"><span class="logo-w">w<span><span class="glyphicon glyphicon-map-marker"></span><span class="logo-rk">rk</span><span class="logo-map">map</span>
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
          	<% if employer_signed_in? %>
	            <li><%= link_to 'Edit registration', edit_employer_registration_path %></li>
	            <li><%= link_to 'Create a job', new_job_path %></li>
	            <li><%= link_to 'Logout', destroy_employer_session_path, :method => :delete %></li>
            <% else %>
  	            <li><%= link_to 'Login', new_employer_session_path %></li>
	            <li><%= link_to 'Register', new_employer_registration_path %></li>
	            <li><%= link_to 'Create a job', new_job_path %></li>
	        <% end %>
          </ul>
        </div>
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
		<%= yield %>
	</body>
</html>