<!DOCTYPE html>
<html>
<head>
	<title>WorkMap</title>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= csrf_meta_tags %>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><h1 class='jobs_page_logo'>w<span class="glyphicon glyphicon-map-marker"></span>rkmap</h1></a> 
    </div>

    <div class="navbar-collapse collapse navbar-form navbar-right">
      <% if employer_signed_in? %>
          <%= link_to 'Edit registration', edit_employer_registration_path, class: "btn btn-success" %>
          <%= link_to 'Create a job', new_job_path, class: "btn btn-success" %>
          <%= link_to 'Logout', destroy_employer_session_path, :method => :delete, class: "btn btn-success" %>
      <% else %>
        <%= link_to 'Login', new_employer_session_path, class: "btn btn-success"  %>  |
        <%= link_to 'Register', new_employer_registration_path, class: "btn btn-success"  %> |
        <%= link_to 'Create a job', new_job_path, class: "btn btn-success" %>
    <% end %>
    </div>
      <%= javascript_include_tag 'application' %>
  </div>
</div>


	<%= yield %>
</body>



</html>