<!DOCTYPE html>
<html>
<head>
	<title>WorkMap</title>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= csrf_meta_tags %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'landing_pages' %>
</head>



<body>

	  <div class="navbar-collapse collapse">
    <nav class="navbar-form navbar-right" role="navigation">
            <div class="links">
              <%= link_to 'Login', new_employer_session_path, class: 'btn btn-primary' %>  |
              <%= link_to 'Create a job', new_job_path, class: 'btn btn-primary' %>
              <%= javascript_include_tag 'application' %>
            </div>


    </nav>
  </div>


	
	<%= yield %>
</body>


</html>