<!DOCTYPE html>
<html>
<head>
	<title>WorkMap</title>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= csrf_meta_tags %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'landing_pages' %>
</head>

<body>

<%= render "devise/sessions/login_modal" %>
<%= render "devise/registrations/signup_modal" %>
<%= render "jobs/new_job_modal" %>
<% if current_user %>
  <%= render "devise/registrations/user_edit_modal" %>
<% end %>
<% if current_employer %>
  <%= render "devise/registrations/employer_edit_modal" %>
<% end %>
<%= render "layouts/navbar_modal" %>

  

  <%= yield %>
</body>

</html>